In [1]:
import ibm_db
import configparser

In [2]:
parser = configparser.ConfigParser()
parser.read('cred.conf')

hostname = parser.get('db2_credentials', 'hostname')
username = parser.get('db2_credentials', 'username')
password = parser.get('db2_credentials', 'password')

In [3]:
database = 'bludb'
port = 30376

In [4]:
dsn = (
    "DRIVER={IBM DB2 ODBC DRIVER};"
    f"DATABASE={database};"
    f"HOSTNAME={hostname};"
    f"PORT={port};"
    "PROTOCOL=TCPIP;"
    f"UID={username};"
    f"PWD={password};"
    "SECURITY=SSL;"
)

In [5]:
try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected to \ndatabase: ", database, "\nas user: ", username, "\non host: ", hostname)

except:
    print ("Unable to connect: ", ibm_db.conn_errormsg() )

Connected to
database:  bludb
as user:  mzs91898
on host:  6667d8e9-9d4d-4ccb-ba32-21da3bb5aafc.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud

In [6]:
#Retrieve Metadata for the Database Server
server = ibm_db.server_info(conn)

print ("DBMS_NAME: ", server.DBMS_NAME)
print ("DBMS_VER:  ", server.DBMS_VER)
print ("DB_NAME:   ", server.DB_NAME)

DBMS_NAME:  DB2/LINUXX8664
DBMS_VER:   11.05.0800
DB_NAME:    BLUDB

In [7]:
#Retrieve Metadata for the Database Client / Driver
client = ibm_db.client_info(conn)

print ("DRIVER_NAME:          ", client.DRIVER_NAME) 
print ("DRIVER_VER:           ", client.DRIVER_VER)
print ("DATA_SOURCE_NAME:     ", client.DATA_SOURCE_NAME)
print ("DRIVER_ODBC_VER:      ", client.DRIVER_ODBC_VER)
print ("ODBC_VER:             ", client.ODBC_VER)
print ("ODBC_SQL_CONFORMANCE: ", client.ODBC_SQL_CONFORMANCE)
print ("APPL_CODEPAGE:        ", client.APPL_CODEPAGE)
print ("CONN_CODEPAGE:        ", client.CONN_CODEPAGE)

DRIVER_NAME:           libdb2.a
DRIVER_VER:            11.05.0800
DATA_SOURCE_NAME:      BLUDB
DRIVER_ODBC_VER:       03.51
ODBC_VER:              03.01.0000
ODBC_SQL_CONFORMANCE:  EXTENDED
APPL_CODEPAGE:         1208
CONN_CODEPAGE:         1208

In [8]:
createQuery = "create table INSTRUCTOR(ID INTEGER PRIMARY KEY NOT NULL, FNAME VARCHAR(20), LNAME VARCHAR(20), CITY VARCHAR(20), CCODE CHAR(2))"

createStmt = ibm_db.exec_immediate(conn,createQuery)

In [9]:
insertQuery = "insert into INSTRUCTOR values (1, 'Rav', 'Ahuja', 'TORONTO', 'CA')"

insertStmt = ibm_db.exec_immediate(conn, insertQuery)

In [10]:
selectQuery = "select * from INSTRUCTOR"

selectStmt = ibm_db.exec_immediate(conn, selectQuery)

ibm_db.fetch_both(selectStmt)

{'ID': 1,
 0: 1,
 'FNAME': 'Rav',
 1: 'Rav',
 'LNAME': 'Ahuja',
 2: 'Ahuja',
 'CITY': 'TORONTO',
 3: 'TORONTO',
 'CCODE': 'CA',
 4: 'CA'}

In [13]:
updateQuery = "update INSTRUCTOR set CITY='MOOSETOWN' where FNAME='Rav'"
updateStmt = ibm_db.exec_immediate(conn, updateQuery)

In [17]:
import pandas
import ibm_db_dbi

In [18]:
#connection for pandas
pconn = ibm_db_dbi.Connection(conn)

In [20]:
selectQuery = "select * from INSTRUCTOR"

pandas.read_sql(selectQuery, pconn)

/tmp/ipykernel_12347/258206721.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pandas.read_sql(selectQuery, pconn)

   ID FNAME  LNAME       CITY CCODE
0   1   Rav  Ahuja  MOOSETOWN    CA

In [ ]:
ibm_db.close(conn)

In [21]:
%sql select * from INSTRUCTOR

UsageError: Line magic function `%sql` not found.